@model IEnumerable<Jindo_Capstone.Model.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        if (Session["empType"]!=null && Session["empType"].Equals("admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
        else { 
            @Html.Raw("Create [<span class=\"text-warning\">admin access required</span>]")
        }
    }
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.userName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.empType)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empType)
        </td>
        <td>
            Edit [<span class="text-warning">Currently disabled</span>]|
            @Html.ActionLink("Details", "Details", new { id = item.userName }) |
            @{
                if (Session["empType"] != null && Session["empType"].Equals("admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.userName })
                }
                else
                {
                    @Html.Raw("Delete [<span class=\"text-warning\">admin access required</span>]")
                }
            }
        </td>
    </tr>
}

</table>
