@model IEnumerable<Jindo_Capstone.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        if (Session["userName"] != null && Session["empType"].Equals(Jindo_Capstone.Models.EmpType.Admin))
        {
            @Html.ActionLink("Create New", "Create")
        }
        else
        {
            @Html.Raw("Create [<span class=\"text-warning\">admin access required</span>]")
        }
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserName })
                [<span class="text-warning">We disabled this for our capstone presentation</span>]|
                @Html.ActionLink("Details", "Details", new { id = item.UserName }) |
                @{
                    if (Session["userName"] != null && Session["empType"].Equals(Jindo_Capstone.Models.EmpType.Admin))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
                    }
                    else
                    {
                        @Html.Raw("Delete [<span class=\"text-warning\">admin access required</span>]")
                    }
                }

            </td>
        </tr>
    }

</table>