<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        if (Session["userName"] == null) { 
             Response.Redirect("~/Home/Logout");
        }   
        }

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("Nifty Notif", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class=" nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Orders", "Index", "Order", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span> @Session["userName"]  <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Log Out", "Logout", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                </ul>

</div>
    </nav>







    <div class="container body-content">
        @RenderBody()
        <hr />

        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @TempData["ModalMsg"]
                    </div>
                   
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Nifty Notif</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {
        var mes = "@TempData["ModalMsg"]";
        if (mes != "") {
            $('#confirmationModal').modal({
                backdrop: false,
                show: true
            });
        }
    })
    </script>
</body>
</html>