@model Jindo_Capstone.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br />
    <div class="container">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
        </div>
        <div class="form-group">
             @Html.LabelFor(model => model.Password)
             @Html.EditorFor(model => model.Password)
         </div>
            <input class="btn btn-success" type="submit" name="login" value="Log In" />
            <input class="btn btn-success" type="reset" name="reset" value="Reset" />
            
        }
         <p class="text-danger">@ViewBag.ErrorMessage </p>
    </div>
   
</body>
</html>
