
@model Jindo_Capstone.Models.CustomerViewModel
@{
    ViewBag.Title = "Nifty Notif";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Message</th>
                    <th scope="col">Contact Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">LastMessaged</th>
                    <th scope="col">Subscription</th>
                </tr>
            </thead>

            @if (Model != null)
            {

                for (var i = 0; i < Model.Customers.Count; i++)
                {
                    <tr id="@Model.Customers[i].CustID">
                        <td>
                            @if (@Model.Customers[i].IsSubscribed.Equals(true))
                            {
                                <button onclick="location.href='@Url.Action("Send", "Customers", new { @id = Model.Customers[i].CustID })'" class="btn btn-primary">Send Message</button>
                            }
                            else
                            {
                                <button disabled onclick="location.href='@Url.Action("Send", "Customers", new { @id = Model.Customers[i].CustID })'" class="btn btn-primary">Send Message</button>
                            }
                        </td>
                        <td>@Model.Customers[i].ContactName</td>
                        <td>@Model.Customers[i].PhoneNumber</td>
                        <td>@Model.Customers[i].ShippingAddress</td>
                        <td>@(Model.Customers[i].LastMessaged?.ToString("MM/dd/yyyy h:mm tt"))</td>
                        <td>
                            @if (@Model.Customers[i].IsSubscribed.Equals(true))
                            {
                                <button name="subscription" onclick="location.href='@Url.Action("Unsubscribe", "Customers", new { @id = Model.Customers[i].CustID })'" class="btn btn-primary">Unsubscribe</button>
                            }
                            else
                            {
                                <button name="subscription" onclick="location.href='@Url.Action("Subscribe", "Customers", new { @id = Model.Customers[i].CustID })'" class="btn btn-primary">Subscribe</button>
                            }
                        </td>
                    </tr>



                }
            }
        </table>



    </div>

</body>
</html>
